.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:baseline;
  padding: 2rem;
  gap: 40px;
  background-color: #0e5050;
  margin: 2.5rem;
  border-radius: 1rem;
  /* height: 25rem; */
}

.about_text {
  flex: 1;
  max-width: 600px;
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #f7f5f5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.headingAbout {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #ffff;
}

.about_img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 25rem; */
}

.about_img img {
  /* max-width: 100%;
  height: auto; */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 40rem;
  object-fit: cover;
  object-position: center;
  height:100%;
  /* height: 40%; */
}

/* Responsive Design */
@media screen and (max-width: 1024px) {
  .about {
    flex-direction: column;
    text-align: center;
    padding: 40px;
  }

  .about_text {
    max-width: 100%;
  }

  .headingAbout {
    font-size: 28px;
  }

  .about_img img {
    max-width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .about {
    padding: 30px;
    gap: 20px;
  }

  .headingAbout {
    font-size: 26px;
  }

  .about_text {
    font-size: 16px;
  }

  .about_img img {
    max-width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .about {
    padding: 20px;
  }

  .headingAbout {
    font-size: 22px;
  }

  .about_text {
    font-size: 14px;
    line-height: 1.4;
  }

  .about_img img {
    max-width: 100%;
  }
}



