*{
  margin: 0;
  padding: 0.5rem 0.5rem 0.4rem 0.5rem;
}
.card{
  background: #0c4b49;
  width: 100%;
  border-radius: 1rem;
}

.card .heading{
  font-size: 2.8rem;
  color: #ffff;
  font-weight: 600;
  padding-left: 2%;
  padding-top: 2%;

}

.cardImg{
  object-fit: contain;
}